In [77]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

otn_animals= pd.read_csv('otnunit_aat_animals_8dc3_4d15_c278.csv')
otn_animals.isnull().sum()

animal_project_reference       1
datacenter_reference           1
animal_reference_id            1
animal_guid                    1
vernacularname                 1
scientificname                 1
taxonrank                   3810
aphiaid                        1
tsn                            1
animal_origin                 13
stock                        164
length                       119
length_type                  117
weight                       738
life_stage                  3299
age                         3660
sex                         3324
dtype: int64

In [78]:

otn_animals.nunique()

animal_project_reference      14
datacenter_reference           2
animal_reference_id         3809
animal_guid                 3809
vernacularname                17
scientificname                16
taxonrank                      0
aphiaid                       16
tsn                           16
animal_origin                  3
stock                         19
length                       262
length_type                    3
weight                       812
life_stage                     4
age                            2
sex                            3
dtype: int64

In [79]:
otn_animals=otn_animals.drop(["taxonrank"],axis=1)
otn_animals= pd.DataFrame(otn_animals)
otn_animals.dropna(how="all",inplace=True)

otn_animals['age'].fillna((otn_animals['age'].mean()), inplace=True)

In [80]:
#Table 1
#vernacular name + aphiaid is Pk
otn_animal_nameInfo= otn_animals[['aphiaid','vernacularname','scientificname',
                                                          'tsn']]
otn_animal_nameInfo=otn_animal_nameInfo.drop_duplicates(subset=None, keep='first')
otn_animal_nameInfo.shape
otn_animal_nameInfo.to_csv("cleandata/otn_animal_nameInfo.csv")

In [81]:
#animal_guid  is pk
#vernacular_name is fk
otn_animals= pd.DataFrame(otn_animals, columns = ['animal_guid','animal_project_reference',
                                                  'datacenter_reference','animal_reference_id',
                                                 'vernacularname','animal_origin','stock',
                                                 'length','length','length_type','weight','life_stage',
                                                 'age','sex'])
otn_animals.shape

print(otn_animals)

               animal_guid animal_project_reference datacenter_reference  \
1     OTN-GlobalFROFRO-T14                      FRO           OTN-Global
2      OTN-GlobalFROFRO-T2                      FRO           OTN-Global
3     OTN-GlobalFROFRO-T25                      FRO           OTN-Global
4     OTN-GlobalFROFRO-T26                      FRO           OTN-Global
5     OTN-GlobalFROFRO-T27                      FRO           OTN-Global
...                    ...                      ...                  ...
3805     nepNOAKNOAK-13037                     NOAK                  nep
3806     nepNOAKNOAK-13038                     NOAK                  nep
3807     nepNOAKNOAK-13039                     NOAK                  nep
3808     nepNOAKNOAK-13040                     NOAK                  nep
3809     nepNOAKNOAK-13041                     NOAK                  nep

     animal_reference_id   vernacularname animal_origin       stock  length  \
1                FRO-T14      Arctic char             W         UNK   0.561
2                 FRO-T2      Arctic char             W         UNK   0.576
3                FRO-T25      Arctic char             W         UNK   0.570
4                FRO-T26      Arctic char             W         UNK   0.600
5                FRO-T27      Arctic char             W         UNK   0.550
...                  ...              ...           ...         ...     ...
3805          NOAK-13037  steelhead trout             W  Siletz, Or   0.164
3806          NOAK-13038  steelhead trout             W  Siletz, Or   0.160
3807          NOAK-13039  steelhead trout             W  Siletz, Or   0.156
3808          NOAK-13040  steelhead trout             W  Siletz, Or   0.165
3809          NOAK-13041  steelhead trout             W  Siletz, Or   0.173

      length length_type   weight life_stage       age  sex
1      0.561        FORK  2.35000        NaN  5.333333    U
2      0.576        FORK  2.53000        NaN  5.333333    U
3      0.570        FORK  2.41000        NaN  5.333333    U
4      0.600        FORK  2.80000        NaN  5.333333    U
5      0.550        FORK  2.17000        NaN  5.333333    U
...      ...         ...      ...        ...       ...  ...
3805   0.164        FORK  0.04023        NaN  5.333333  NaN
3806   0.160        FORK  0.03520        NaN  5.333333  NaN
3807   0.156        FORK  0.03407        NaN  5.333333  NaN
3808   0.165        FORK  0.04440        NaN  5.333333  NaN
3809   0.173        FORK  0.05050        NaN  5.333333  NaN

[3809 rows x 14 columns]

In [82]:
otn_animals.to_csv("cleandata/otn_animals.csv")

In [83]:
otn_datacenter= pd.read_csv('otnunit_aat_datacenter_attributes_8a94_cefd_f8a3.csv')
otn_datacenter.isnull().sum()

datacenter_reference                 1
datacenter_name                      1
datacenter_abstract                  1
datacenter_citation                  1
datacenter_pi                        1
datacenter_pi_organization           1
datacenter_pi_contact                1
datacenter_infourl                   1
datacenter_keywords                  1
datacenter_keywords_vocabulary       1
datacenter_doi                       1
datacenter_license                   1
datacenter_distribution_statement    5
datacenter_date_modified             5
datacenter_geospatial_lon_min        2
datacenter_geospatial_lon_max        2
datacenter_geospatial_lat_min        2
datacenter_geospatial_lat_max        2
time_coverage_start                  4
time_coverage_end                    4
dtype: int64

In [84]:
otn_datacenter=otn_datacenter.drop(["time_coverage_start","time_coverage_end",
                                    "datacenter_date_modified","datacenter_distribution_statement"] , axis=1)
otn_datacenter = pd.DataFrame(otn_datacenter)
otn_datacenter.dropna(how="all",axis=0,inplace=True)
otn_datacenter.shape

(4, 16)

In [85]:
#datacenter_pi is pk
    #table 1
otn_datacenter_info= pd.DataFrame(otn_datacenter, columns = ['datacenter_pi','datacenter_pi_organization',
                                                            'datacenter_pi_contact','datacenter_infourl',
                                                            'datacenter_keywords',
                                                            'datacenter_keywords_vocabulary','datacenter_doi'])
otn_datacenter_info = otn_datacenter_info.drop_duplicates(subset=None, keep='first')
otn_datacenter_info.shape

(1, 7)

In [86]:
otn_datacenter_info.to_csv("cleandata/otn_datacenter_info.csv")

In [87]:
#datacenter_pi is fk and datacenetr_reference is pk
otn_datacenter= pd.DataFrame(otn_datacenter, columns = ['datacenter_reference','datacenter_name',
                                                            'datacenter_abstract','datacenter_citation',
                                                            'datacenter_geospatial_lon_min',
                                                            'datacenter_geospatial_lon_max',
                                                        'datacenter_geospatial_lat_min',
                                                           'datacenter_geospatial_lat_max','datacenter_pi'])
#otn_datacenterInfo.insert(0, 'Info_ID', range(0,0 + len(otn_datacenterInfo)))
otn_datacenter.shape
print(otn_datacenter)

  datacenter_reference                                datacenter_name  \
1              OTN-NEP  Ocean Tracking Network Northeast Pacific Node
2           OTN-Global             Ocean Tracking Network Data Centre
3                  SAF       Ocean Tracking Network South Africa Node
4                  nep  Ocean Tracking Network Northeast Pacific Node

                                 datacenter_abstract  \
1  OTN is a research and technology development i...
2  OTN is a research and technology development i...
3  OTN is a research and technology development i...
4  OTN is a research and technology development i...

                                 datacenter_citation  \
1  Ocean Tracking Network Data Centre - Northeast...
2                Ocean Tracking Network Data Centre.
3  Ocean Tracking Network Data Centre - South Afr...
4  Ocean Tracking Network Data Centre - Northeast...

   datacenter_geospatial_lon_min  datacenter_geospatial_lon_max  \
1                            NaN                            NaN
2                       -108.511                         148.83
3                         16.000                          36.00
4                       -176.900                         -55.60

   datacenter_geospatial_lat_min  datacenter_geospatial_lat_max  \
1                            NaN                            NaN
2                     -50.980911                       74.75011
3                     -34.630380                      -24.50000
4                       4.993200                       60.76630

                 datacenter_pi
1  Director of Data Management
2  Director of Data Management
3  Director of Data Management
4  Director of Data Management

In [88]:
otn_datacenter.to_csv("cleandata/otn_datacenter.csv")

In [89]:
otn_detections= pd.read_csv('otnunit_aat_detections_9062_5923_1394.csv')
print(otn_detections.shape)
otn_detections.notnull().sum()
otn_detections.nunique()

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (5,6,13,15,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(218979, 27)

detection_project_reference        29
datacenter_reference                2
detection_id                   218978
detection_guid                 218978
time                           215786
latitude                          709
longitude                         698
tracker_reference                  10
detection_reference_id            617
detection_reference_type            1
transmitter_codespace               8
transmitter_id                    659
detection_transmittername         659
detection_serial_number           775
sensor_data                        95
sensor_data_units                   3
receiver_log_id                     0
deployment_id                     718
detection_quality                   1
depth                               1
position_data_source                1
uncertainty_in_latitude             0
uncertainty_in_longitude            0
depth_data_source                   0
uncertainty_in_depth                0
other_position_data                 0
dataset_quality                     0
dtype: int64

In [90]:
otn_detections=otn_detections.drop(["receiver_log_id","uncertainty_in_latitude",
                                    "uncertainty_in_longitude","depth","depth_data_source",
                                    "uncertainty_in_depth","other_position_data"
                                  ,"dataset_quality"] , axis=1)
otn_detections = pd.DataFrame(otn_detections)
otn_detections.dropna(how="all",thresh=4,axis=0,inplace= True)
print(otn_detections)

       detection_project_reference datacenter_reference  \
1                              WRS           OTN-Global
2                              WRS           OTN-Global
3                              WRS           OTN-Global
4                              WRS           OTN-Global
5                              WRS           OTN-Global
...                            ...                  ...
218974                         WRS           OTN-Global
218975                         WRS           OTN-Global
218976                         WRS           OTN-Global
218977                         WRS           OTN-Global
218978                         WRS           OTN-Global

                 detection_id                      detection_guid  \
1       A69-1303-10563-829669  OTN-GlobalWRSA69-1303-10563-829669
2       A69-1303-10563-829292  OTN-GlobalWRSA69-1303-10563-829292
3       A69-1303-10563-829290  OTN-GlobalWRSA69-1303-10563-829290
4       A69-1303-10563-830260  OTN-GlobalWRSA69-1303-10563-830260
5       A69-1303-10563-828941  OTN-GlobalWRSA69-1303-10563-828941
...                       ...                                 ...
218974  A69-1303-10563-829130  OTN-GlobalWRSA69-1303-10563-829130
218975  A69-1303-10563-825983  OTN-GlobalWRSA69-1303-10563-825983
218976  A69-1303-10563-829686  OTN-GlobalWRSA69-1303-10563-829686
218977  A69-1303-10563-829781  OTN-GlobalWRSA69-1303-10563-829781
218978  A69-1303-10563-829288  OTN-GlobalWRSA69-1303-10563-829288

                        time  latitude  longitude tracker_reference  \
1       2008-05-20T10:14:19Z  44.91786  -62.53628               WRS
2       2008-05-20T07:39:38Z  44.91786  -62.53628               WRS
3       2008-05-20T07:38:45Z  44.91786  -62.53628               WRS
4       2008-05-20T14:38:47Z  44.91786  -62.53628               WRS
5       2008-05-20T04:42:29Z  44.91786  -62.53628               WRS
...                      ...       ...        ...               ...
218974  2008-05-20T06:23:56Z   44.9179   -62.5363               WRS
218975  2008-05-19T05:49:03Z   44.9179   -62.5363               WRS
218976  2008-05-20T10:20:00Z   44.9179   -62.5363               WRS
218977  2008-05-20T11:06:05Z   44.9179   -62.5363               WRS
218978  2008-05-20T07:38:01Z   44.9179   -62.5363               WRS

       detection_reference_id detection_reference_type transmitter_codespace  \
1                   WRS-10563                   ANIMAL              A69-1303
2                   WRS-10563                   ANIMAL              A69-1303
3                   WRS-10563                   ANIMAL              A69-1303
4                   WRS-10563                   ANIMAL              A69-1303
5                   WRS-10563                   ANIMAL              A69-1303
...                       ...                      ...                   ...
218974              WRS-10563                   ANIMAL              A69-1303
218975              WRS-10563                   ANIMAL              A69-1303
218976              WRS-10563                   ANIMAL              A69-1303
218977              WRS-10563                   ANIMAL              A69-1303
218978              WRS-10563                   ANIMAL              A69-1303

        transmitter_id detection_transmittername detection_serial_number  \
1              10563.0            A69-1303-10563                    1136
2              10563.0            A69-1303-10563                    1136
3              10563.0            A69-1303-10563                    1136
4              10563.0            A69-1303-10563                    1136
5              10563.0            A69-1303-10563                    1136
...                ...                       ...                     ...
218974         10563.0            A69-1303-10563                    1136
218975         10563.0            A69-1303-10563                    1136
218976         10563.0            A69-1303-10563                    1136
218977         10563.0            A69-1303-10563                    1136
218978         10563.0            A69-1303-10563                    1136

        sensor_data sensor_data_units        deployment_id detection_quality  \
1               NaN               NaN  WRSH-SW2-VR2-1136-1               NaN
2               NaN               NaN  WRSH-SW2-VR2-1136-1               NaN
3               NaN               NaN  WRSH-SW2-VR2-1136-1               NaN
4               NaN               NaN  WRSH-SW2-VR2-1136-1               NaN
5               NaN               NaN  WRSH-SW2-VR2-1136-1               NaN
...             ...               ...                  ...               ...
218974          NaN               NaN  WRSH-SW2-VR2-1136-1               NaN
218975          NaN               NaN  WRSH-SW2-VR2-1136-1               NaN
218976          NaN               NaN  WRSH-SW2-VR2-1136-1               NaN
218977          NaN               NaN  WRSH-SW2-VR2-1136-1               NaN
218978          NaN               NaN  WRSH-SW2-VR2-1136-1               NaN

       position_data_source
1         Receiver Metadata
2         Receiver Metadata
3         Receiver Metadata
4         Receiver Metadata
5         Receiver Metadata
...                     ...
218974    Receiver Metadata
218975    Receiver Metadata
218976    Receiver Metadata
218977    Receiver Metadata
218978    Receiver Metadata

[218978 rows x 19 columns]

In [91]:
#transmitter_id pk
otn_transmitter= pd.DataFrame(otn_detections, columns = ['transmitter_id','detection_transmittername',
                                                         'transmitter_codespace'])
#otn_datacenterInfo.insert(0, 'Info_ID', range(0,0 + len(otn_datacenterInfo)))
otn_transmitter.drop_duplicates(subset=None, keep='first', inplace=True)
otn_transmitter.shape
print(otn_transmitter)

        transmitter_id detection_transmittername transmitter_codespace
1              10563.0            A69-1303-10563              A69-1303
571            10564.0            A69-1303-10564              A69-1303
3357           56393.0            A69-1303-56393              A69-1303
4451           10565.0            A69-1303-10565              A69-1303
6806           10566.0            A69-1303-10566              A69-1303
...                ...                       ...                   ...
197531         14158.0            A69-1303-14158              A69-1303
204139         10553.0            A69-1303-10553              A69-1303
211010         10556.0            A69-1303-10556              A69-1303
213174         10560.0            A69-1303-10560              A69-1303
215316         10561.0            A69-1303-10561              A69-1303

[659 rows x 3 columns]

In [92]:
otn_transmitter.to_csv("cleandata/otn_transmitter.csv")

In [93]:
#transmitter_id fk , detection_guid is pk
otn_detections= pd.DataFrame(otn_detections, columns = ['detection_guid','transmitter_id','detection_project_reference','datacenter_reference',
                                                        'detection_id','time','latitude','longitude',
                                                        'tracker_reference','detection_reference_id',
                                                        'detection_reference_type',
                                                        'detection_serial_number','sensor_data','sensor_data_units',
                                                        'deployment_id','detection_quality','detection_quality',
                                                        'position_data_source'
                                                       ])
#otn_datacenterInfo.insert(0, 'Info_ID', range(0,0 + len(otn_datacenterInfo)))
otn_detections.drop_duplicates(subset=None, keep='first', inplace=True)
otn_detections.shape

(218978, 18)

In [94]:
otn_detections.to_csv("cleandata/otn_detections.csv")

In [95]:
otn_platform= pd.read_csv('otnunit_aat_manmade_platform_0735_7c9f_329c.csv')
otn_platform.isnull().sum()
#otn_platform.nunique()
#print(otn_manmade.shape)
#otn_manmade.shape

platform_project_reference       1
datacenter_reference             1
platform_reference_id            1
platform_guid                    1
platform_type                    1
platform_depth                2262
platform_name                    1
latitude                        10
longitude                       10
dtype: int64

In [96]:
#platform_guid is pk
otn_platform = pd.DataFrame(otn_platform)
otn_platform.dropna(how="all",thresh=3,inplace=True)
otn_platform.nunique()
otn_platform.shape
otn_platform.isnull().sum()

platform_project_reference       0
datacenter_reference             0
platform_reference_id            0
platform_guid                    0
platform_type                    0
platform_depth                2261
platform_name                    0
latitude                        10
longitude                       10
dtype: int64

In [97]:
otn_platform.nunique()
otn_platform=otn_platform.drop(["platform_depth"] , axis=1)
otn_platform = otn_platform.apply(lambda x: x.astype(str).str.lower()).drop_duplicates(subset=['platform_reference_id'], keep='first')

In [98]:
otn_platform.shape

(8828, 8)

In [99]:
otn_platform.to_csv("cleandata/otn_platform.csv")

In [100]:
otn_project= pd.read_csv('otnunit_aat_project_attributes_f29c_fb21_23a3.csv')
otn_project.isnull().sum()

#otn_project.shape

project_reference                   1
datacenter_reference                1
project_name                        1
project_abstract                    4
project_citation                   13
project_pi                         17
project_pi_organization             1
project_pi_contact                 17
project_infourl                     4
project_keywords                    1
project_keywords_vocabulary         1
project_references                301
project_doi                       301
project_license                     1
project_distribution_statement    301
project_date_modified             301
project_datum                       1
project_geospatial_lon_min          0
project_geospatial_lon_max          0
project_geospatial_lat_min          0
project_geospatial_lat_max          0
project_linestring                301
geospatial_vertical_min           127
geospatial_vertical_max           145
geospatial_vertical_positive      301
time_coverage_start               301
time_coverage_end                 301
dtype: int64

In [101]:
otn_project=otn_project.drop(["project_linestring","project_references",
                                    "project_doi","project_distribution_statement","project_date_modified",
                              "geospatial_vertical_positive","time_coverage_start"
                                   ,"time_coverage_end"] , axis=1)
otn_project.shape

(301, 19)

In [102]:

otn_project.dropna(how="all",thresh=5,axis=0,inplace=True)
otn_project.shape
#otn_project.isnull().sum()
#otn_project.nunique()

(300, 19)

In [103]:
#project pi pk
otn_project_pi_info= pd.DataFrame(otn_project, columns = ['project_pi','project_pi_organization',
                                                            'project_pi_contact','project_infourl',
                                                            'project_keywords',
                                                            'project_keywords_vocabulary',
                                                           'project_license'])

otn_project_pi_info=otn_project_pi_info.drop_duplicates(subset='project_pi', keep='first')
otn_project_pi_info=otn_project_pi_info.dropna(axis=0,subset=['project_pi'])
otn_project_pi_info.isnull().sum()
#print(otn_project)

project_pi                     0
project_pi_organization        0
project_pi_contact             0
project_infourl                2
project_keywords               0
project_keywords_vocabulary    0
project_license                0
dtype: int64

In [104]:
otn_project_pi_info.to_csv("cleandata/otn_project_pi_info.csv")

In [105]:
#project_pi is fk
#project_reference is pk
otn_project= pd.DataFrame(otn_project, columns = ['project_pi','project_reference',
                                                            'datacenter_reference','project_name',
                                                            'project_abstract',
                                                            'project_citation','project_datum',
                                                           'project_geospatial_lon_min','project_geospatial_lon_max'
                                                 ,'project_geospatial_lat_min','project_geospatial_lat_max',
                                                 'geospatial_vertical_min','geospatial_vertical_max'])
otn_project.shape

(300, 13)

In [106]:
otn_project.to_csv("cleandata/otn_project.csv")

In [107]:
otn_project.shape

(300, 13)

In [108]:
otn_receivers= pd.read_csv('otnunit_aat_receivers_c595_05f4_68b2.csv')
otn_receivers.isnull().sum()
#otn_receivers.nunique()

deployment_project_reference        1
datacenter_reference                1
deployment_id                       1
deployment_guid                     1
receiver_manufacturer             801
receiver_model                      1
frequencies_monitored           18787
receiver_coding_scheme          18787
receiver_serial_number              3
latitude                            1
longitude                           1
time                                0
recovery_datetime_utc            3409
array_name                          1
receiver_reference_type             1
receiver_reference_id               7
bottom_depth                     4286
depth                            4956
deployment_comments             15526
deployed_by                     18787
expected_receiver_life          18787
dtype: int64

In [109]:
otn_receivers.shape

(18787, 21)

In [110]:
otn_receivers=otn_receivers.drop(["frequencies_monitored","receiver_coding_scheme",
                                    "deployed_by","expected_receiver_life"] , axis=1)
otn_receivers= pd.DataFrame(otn_receivers)
otn_receivers.dropna(how="all",thresh=7,inplace=True)
otn_receivers.nunique()

deployment_project_reference      173
datacenter_reference                3
deployment_id                   18785
deployment_guid                 18786
receiver_manufacturer              21
receiver_model                     81
receiver_serial_number           7036
latitude                        13331
longitude                       13644
time                            15483
recovery_datetime_utc           11930
array_name                        173
receiver_reference_type             1
receiver_reference_id            8519
bottom_depth                     2001
depth                            1771
deployment_comments              1570
dtype: int64

In [111]:
#serial no is pk
otn_receivers_model= pd.DataFrame(otn_receivers, columns = ['receiver_serial_number','receiver_model',
                                                            'receiver_manufacturer'])

In [112]:

otn_receivers_model.drop_duplicates(subset=['receiver_serial_number'], keep='first', inplace=True)
otn_receivers_model=otn_receivers_model.dropna(axis=0,subset=['receiver_serial_number'])
otn_receivers_model.shape

(7036, 3)

In [113]:
otn_receivers_model.to_csv("cleandata/otn_receivers_model.csv")

In [114]:
#deployment_guid is pk
#serial no is fk
otn_receivers= pd.DataFrame(otn_receivers, columns = ['deployment_id','deployment_project_reference','datacenter_reference',
                                                            'deployment_guid',
                                                            'latitude',
                                                            'longitude',
                                                           'time','recovery_datetime_utc','array_name',
                                                      'receiver_reference_type','receiver_reference_id',
                                                     'bottom_depth','depth','deployment_comments',
                                                      'receiver_serial_number'])
otn_receivers.shape

(18786, 15)

In [115]:
otn_receivers.to_csv("cleandata/otn_receivers.csv")

In [116]:
#recover id is pk
otn_recover= pd.read_csv('otnunit_aat_recover_offload_details_4b23_f002_f89a.csv')
otn_recover.isnull().sum()
#otn_recover.nunique()

recovery_project_reference        1
datacenter_reference              1
recovery_id                       1
deployment_id                    44
recovery_guid                    44
recovery_latitude               440
recovery_longitude              440
recovery_datetime_utc         21826
recovery_outcome                  1
data_offloaded                    1
offload_datetime_utc          22210
log_filenames                 19394
recovery_comments             30625
clock_synchronized            37204
recovered_by                  37204
dtype: int64

In [117]:
otn_recover.shape

(37204, 15)

In [118]:
otn_recover=otn_recover.drop(["recovered_by","clock_synchronized"] , axis=1)
otn_recover= pd.DataFrame(otn_recover)
otn_recover.dropna(how="all",thresh=7,inplace=True,axis=0)

In [119]:
otn_recover.nunique()

recovery_project_reference      166
datacenter_reference              3
recovery_id                   37201
deployment_id                 16898
recovery_guid                 37160
recovery_latitude             12892
recovery_longitude            13186
recovery_datetime_utc         11930
recovery_outcome                 25
data_offloaded                    2
offload_datetime_utc          12428
log_filenames                 13048
recovery_comments              2044
dtype: int64

In [120]:
otn_recover.to_csv("cleandata/otn_recover.csv")

In [121]:
otn_tag= pd.read_csv('otnunit_aat_tag_releases_b793_03e7_a230.csv')
otn_tag.isnull().sum()
otn_tag.nunique()

release_project_reference      11
datacenter_reference            2
tag_device_id                3837
release_guid                 3837
release_reference_id         3686
release_reference_type          2
latitude                      115
longitude                     117
time                          435
expected_enddate              454
manufacturer                    2
tag_model                      17
tag_serial_number            3728
tag_frequency                   0
tag_coding_system              14
transmitted_id               3827
transmittername              3837
transmitter_type                0
tag_programming_id              0
dtype: int64

In [122]:
otn_tag=otn_tag.drop(["transmitter_type","tag_programming_id","tag_frequency","transmittername"] , axis=1)
otn_tag= pd.DataFrame(otn_tag)
otn_tag.dropna(how="all",thresh=7,inplace=True)
otn_tag.isnull().sum()

release_project_reference    0
datacenter_reference         0
tag_device_id                0
release_guid                 0
release_reference_id         0
release_reference_type       0
latitude                     0
longitude                    0
time                         0
expected_enddate             0
manufacturer                 0
tag_model                    0
tag_serial_number            0
tag_coding_system            0
transmitted_id               0
dtype: int64

In [123]:
#serial no is pk
otn_tag_model= pd.DataFrame(otn_tag, columns = ['tag_serial_number','tag_model','tag_coding_system', 
                                                            'manufacturer'])

In [124]:

otn_tag_model.drop_duplicates(subset=['tag_serial_number'], keep='first', inplace=True)
otn_tag_model=otn_tag_model.dropna(axis=0,subset=['tag_serial_number'])
otn_tag_model.shape

(3728, 4)

In [125]:
otn_tag_model.to_csv("cleandata/otn_tag_model.csv")

In [126]:
#release guid   is pk
#serial no is fk
#transmitter id is fk
otn_tag= pd.DataFrame(otn_tag, columns = ['tag_device_id','release_project_reference','datacenter_reference'
                                                            ,'release_guid',
                                                            'release_reference_id',
                                                            'release_reference_type',
                                                           'latitude','longitude','time',
                                                      'expected_enddate','tag_serial_number','transmitted_id'])

In [127]:
otn_tag.to_csv("cleandata/otn_tag.csv")